html, div, p, body { padding: 0px; margin: 0px; }

button.start { width: 30px; height: 30px; background-color: transparent; color: transparent; border: 0px; padding: 0px; position: absolute; top: 0px; left: 0px; z-index: 100; }   
