html, body { width: 100%; height: 100%; }
html, div, p, body { padding: 0px; margin: 0px; }

button.start { width: 30px; height: 30px; background-color: transparent; color: transparent; border: 0px; padding: 0px; position: absolute; top: 0px; left: 0px; z-index: 100; }

div.panel { border-radius: 15px; border: solid 1px #1842c9; background-color: #a0b6ff; margin: 3px auto; width: 150px; position: relative; top: 0px; left: 0px; -moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888; }
    div.panel button.back { width: 15px; height: 18px; margin: 0px 5px 0px 10px; background-image: url('back-i.png'); background-position: bottom center; background-repeat: no-repeat; cursor: pointer; border: 0px; background-color: transparent; }
    div.panel button.fwrd { width: 15px; height: 18px; margin: 0px 5px 0px 10px; background-image: url('fwrd-i.png'); background-position: bottom center; background-repeat: no-repeat; cursor: pointer; border: 0px; background-color: transparent; }
    div.panel input.current { font-family: verdana; font-size: 11px; font-weight:bold; background-color: #a0b6ff; border: 0px; width: 30px; text-align: right; margin: 0px 0px 10px 0px;}
    div.panel span.maxN { font-family: verdana; font-size: 11px; font-weight: bold; }

div.page { width: 390px; height: 474px; overflow: hidden; position: absolute; top: 0px; left: 0px; background-color: white; border: 0px; z-index: 1; }
    div.page iframe { width: 390px; height: 474px; position: absolute; top: -10px; left: -10px; overflow: hidden; }

canvas { z-index: 3; position: absolute; top: 0px; left: 0px; }


div.imitate { -moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888; position: absolute; top: 0px; left: 0px; z-index: 1; }